<div class="container-fluid p-0" id="container-locales" style="background-image: url('assets/img/fondo-locales.jpg');">
    <app-navbar></app-navbar>
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column contenido">
        <div class="titulo-locales my-3">
            <span>CONTAMOS CON 2 LOCALES</span>
        </div>
        <div class="botones-locales row">
            <div class="col-sm-6 col-12 d-flex justify-content-center align-items-center">
                <a class="btn btn-success" id="primer-local" routerLink="/primerlocal">Primer Local</a>
            </div>
            <div class="col-sm-6 col-12 d-flex justify-content-center align-items-center">
                <a class="btn btn-danger" id="segundo-local" routerLink="/segundolocal">Segundo Local</a>
            </div>
        </div>
        <div class="map-locales my-3 mx-3 ratio ratio-1x1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.035970386888!2d-77.10124459514067!3d-12.041044658742907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ceac00b17a8b%3A0x36108e26ae1c063b!2sDonna%20Pizza!5e0!3m2!1ses-419!2spe!4v1730181276879!5m2!1ses-419!2spe"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="descripcion-locales container d-flex justify-content-center align-items-center flex-column">
            <span>1° de Mayo 200 - Carmen de la Legua</span>
            <span>Teléfono: 327-9534</span>
            <span>Celular: 977-743-586</span>
        </div>
    </div>
</div>
<app-footer></app-footer>