<div class="d-flex flex-column bg-dark text-white vh-100 sidebar">
    <!-- Perfil del Administrador -->
    <div class="text-center py-4">
      <img src="assets/profile-picture.jpg" alt="Profile Picture" class="rounded-circle mb-3"
        style="width: 80px; height: 80px; border: 2px solid white;" />
      <h5 class="mb-0">Stuard Alex</h5>
      <small class="text-muted">Administrator</small>
    </div>
    
  <!-- Menú de Navegación -->
  <ul class="nav flex-column px-3">
    <li class="nav-item mb-2">
      <a routerLink="/admin/pizzas" class="nav-link text-white">
        <i class="bi bi-app me-2"></i> CRUD PIZZAS
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/messages" class="nav-link text-white">
        <i class="bi bi-chat-dots me-2"></i> Message
        <span class="badge bg-primary ms-auto">3</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/calendar" class="nav-link text-white">
        <i class="bi bi-calendar3 me-2"></i> Calendar
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/pages" class="nav-link text-white">
        <i class="bi bi-file-earmark me-2"></i> Pages
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/apps" class="nav-link text-white">
        <i class="bi bi-app me-2"></i> Apps
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/" class="nav-link text-white">
        <i class="bi bi-app me-2"></i> Inicio
      </a>
    </li>
  </ul>