<div class="user-profile-container">
    <div class="user-profile-card">
        <p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
        <div *ngIf="(userLoginOn && !editMode) || !userLoginOn">
            <p class="mt-2 mb-4"><b>Nombre: </b> {{user?.nombre}} </p>
            <p class="my-4"><b>Apellido: </b> {{user?.apellido}} </p>
            <p class="my-4"><b>Teléfono: </b> {{user?.telefono}} </p>
            <p class="my-4"><b>Correo: </b> {{user?.username}} </p>
            <p class="my-4"><b>Dirección: </b> {{user?.direccion}} </p>
            <button *ngIf="userLoginOn && !editMode" (click)="editMode=true" class="btn btn-dark my-2">
                Editar Datos Personales
            </button>
        </div>

        <form *ngIf="userLoginOn && editMode" [formGroup]="registerForm">
            <div class="form-group row my-2">
                <label for="inputUsername" class="col-sm-4 col-form-label texto">Nombre de Usuario</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="username" class="form-control" id="inputUsername">

                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                        <div *ngIf="username.errors?.['required']">
                            El Nombre de Usuario es requerido!
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>