<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid p-0">

    <footer class="text-center text-light">
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-6 my-2 py-1">
                <span>Creado por <strong>Grupo</strong>, Derechos reservados 2024</span>
            </div>
            <div class="col-md-6 my-2 py-1">
                <span>Síguenos en: </span>
                <!-- Instagram -->
                <a href="https://www.instagram.com/donna_pizza_pe/">
                    <i class="fa-brands fa-instagram mx-2" style="color: #ffffff;"></i>
                </a>
                <!-- Facebook -->
                <a href="https://www.facebook.com/Donnapizzaoficial">
                    <i class="fa-brands fa-facebook-f mx-2" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>

    </footer>

</div>