<div class="container-fluid p-0 principal" style="background-image: url('assets/img/fondo-login.webp');">
    <app-navbar></app-navbar>
    <div class="d-flex justify-content-center align-items-center flex-column vh-100 mx-3">
        <div class="container mt-5 py-5 bg-light rounded-5 d-flex justify-content-center align-items-center text-dark">
            <!-- Paso 1: Recuperar Contraseña -->
            <div *ngIf="step === 1">
                <h2 class="mb-4 text-center">Recuperar Contraseña</h2>
                <form (ngSubmit)="enviarEmail()" class="w-100 mx-auto" [formGroup]="forgotPassword">
                    <div class="mb-3">
                        <input formControlName="emailvalidar" type="email" class="form-control my-1"
                            placeholder="Corro Electronico" [(ngModel)]="email" id="email" required />
                        <div *ngIf="emailvalidar?.invalid && (emailvalidar?.dirty || emailvalidar?.touched)"
                            class="text-danger">
                            <div *ngIf="emailvalidar?.errors?.['required']">El Email es requerido!</div>
                            <div *ngIf="emailvalidar?.errors?.['email']">Ingrese un Email válido!</div>
                            <div *ngIf="!emailvalidar?.errors?.['emailExists']">Este Email no esta registrado!</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-enviar w-100">Enviar</button>
                </form>
            </div>

            <!-- Paso 2: Verificar OTP -->
            <div *ngIf="step === 2">
                <h2 class="mb-4 text-center">Verificar OTP</h2>
                <form (ngSubmit)="verificarOTP()" class="w-100 mx-auto">
                    <div class="mb-3">
                        <input type="text" class="form-control" [(ngModel)]="otp" placeholder="Ingresa tu TOKEN" name="otp"
                            id="otp" required />
                    </div>
                    <button type="submit" class="btn btn-enviar w-100">Verificar</button>
                </form>
            </div>

            <!-- Paso 3: Cambiar Contraseña -->
            <div *ngIf="step === 3">
                <h2 class="mb-4 text-center">Cambiar Contraseña</h2>
                <form [formGroup]="changePassword" (ngSubmit)="cambiarContrasena()" class="w-100 mx-auto">

                    <div *ngIf="changePassword.errors?.['mismatch'] && (changePassword.dirty || changePassword.touched)"
                        class="alert alert-danger">
                        Las contraseñas no coinciden.
                    </div>

                    <div class="mb-3">
                        <input formControlName="firstPassword" type="password" class="form-control"
                            [(ngModel)]="password" placeholder="Ingresa tu nueva contraseña" id="password" required />
                        <div *ngIf="firstPassword?.invalid && (firstPassword?.dirty || firstPassword?.touched)"
                            class="text-danger">
                            <div *ngIf="firstPassword?.errors?.['required']">La Contraseña es requerida!</div>
                            <div *ngIf="firstPassword?.errors?.['minlength']">La Contraseña debe tener al menos 8
                                caracteres!
                            </div>
                            <div *ngIf="firstPassword?.errors?.['pattern']">La Contraseña debe tener al menos 1 letra
                                mayúscula y
                                1 carácter especial!</div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <input formControlName="secondPassword" type="password" class="form-control"
                            [(ngModel)]="repeatPassword" placeholder="Repite la contraseña" id="repeatPassword"
                            required />
                        <div *ngIf="secondPassword?.invalid && (secondPassword?.dirty || secondPassword?.touched)"
                            class="text-danger">
                            <div *ngIf="secondPassword?.errors?.['required']">La Contraseña es requerida!</div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-enviar w-100">Cambiar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>